<%- include('layout/header') %>
    <h1>Update User</h1>
    <div class="row g-3 align-items-center">
        <form action="/edit/ <%= user._id %>" method="post" enctype="application/x-www-form-urlencoded" class="row g-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" name="name" value="<%= user.name %>" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <div class="valid-feedback">
                    Nice Name!
                  </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="email" value="<%= user.email %>" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
                <div class="valid-feedback">
                    OKAY
                  </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">+62</span>
                <input type="text" value="<%= user.phone %>" name="phone" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="valid-feedback">
                    it seems your phone is OK!
                  </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" name="password" class="form-control" placeholder="Your New Password" aria-label="Amount">
            </div>
            <input type="submit" value="Update User" name="submit">
        </form>
    </div>

<%- include('layout/footer') %>